@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
	<div class="row">
		<div class="col-lg-12">
			<div class="box">
				<div class="box-body">
					<h4 class="box-title">Nhập kho <a asp-controller="ImportKho" asp-action="Create" type="button" class="btn btn-primary">Thêm Mới</a></h4>
					<div class="table-responsive">
						<table class="table">
							<thead class="bg-primary">
								<tr>
									<th>#</th>
									<th style="width: 85px">Mã SP</th>
									<th>Tên SP</th>
									<th style="width: 85px">Số Lượng</th>
									<th>Người Nhập</th>
									<th>Nhà Sản Xuất</th>
									<th>Khu</th>
									<th>Hàng</th>
									<th>Kệ</th>
									<th>Ngày Nhập Kho</th>
									<th style="width: 155px"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td><input type="text" class="form-control" placeholder="Mã sản phẩm"></td>
									<td><input type="text" class="form-control" placeholder="Tên sản phẩm"></td>
									<td><input type="text" class="form-control" placeholder="Số lượng"></td>
									<td><input type="text" class="form-control" placeholder="Người nhập"></td>
									<td><input type="text" class="form-control" placeholder="Nhà sản xuất"></td>
									<td>
										<select class="form-select">
											<option>Mời chọn</option>
											<option>design</option>
											<option>development</option>
											<option>illustration</option>
											<option>branding</option>
											<option>video</option>
										</select>
									</td>
									<td>
										<select class="form-select">
											<option>Mời chọn</option>
											<option>less than 5000$</option>
											<option>5000$ - 10000$</option>
											<option>10000$ - 20000$</option>
											<option>more than 20000$</option>
										</select>
									</td>
									<td>
										<select class="form-select">
											<option>Mời chọn</option>
											<option>less than 5000$</option>
											<option>5000$ - 10000$</option>
											<option>10000$ - 20000$</option>
											<option>more than 20000$</option>
										</select>
									</td>
									
									<td>07/11/2023</td>
									<td>
										<button type="submit" class="btn btn-primary">
											 Save
										</button>
										<button type="button" class="btn btn-warning me-1">
											 Cancel
										</button>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td>SP01</td>
									<td>IPhone 15 promax</td>
									<td>5</td>
									<td>Hoàng Đz</td>
									<td>Iphone</td>
									<td>Khu 1</td>
									<td>Hàng 1</td>
									<td>Kệ 1</td>
									<td>07/11/2023</td>
									<td>
										<button type="button" class="btn btn-warning me-1">Edit</button>
										<button type="submit" class="btn btn-primary">Delete</button>
									</td>
								</tr>
								<tr>
									<td>2</td>
									<td>SP02</td>
									<td>Samsung note 10</td>
									<td>8</td>
									<td>Hoàng Đz</td>
									<td>Samsung</td>
									<td>Khu 2</td>
									<td>Hàng 2</td>
									<td>Kệ 3</td>
									<td>07/11/2023</td>
									<td>
										<button type="button" class="btn btn-warning me-1">Edit</button>
										<button type="submit" class="btn btn-primary">Delete</button>
									</td>
								</tr>
								<tr>
									<td>3</td>
									<td>SP03</td>
									<td>Laptop</td>
									<td>5</td>
									<td>Hoàng Đz</td>
									<td>Asus</td>
									<td>Khu 3</td>
									<td>Hàng 2</td>
									<td>Kệ 1</td>
									<td>07/11/2023</td>
									<td>
										<button type="button" class="btn btn-warning me-1">Edit</button>
										<button type="submit" class="btn btn-primary">Delete</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>