@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
	<div class="row">
		<div class="col-lg-12">
			<div class="box">
				<div class="box-body">
					<h4 class="box-title">Nhà cung cấp </h4>
					<div class="table-responsive">
						<table class="table">
							<thead class="bg-primary">
								<tr>
									<th>#</th>
									<th style="width:117px">Tên</th>
									<th>Avatar</th>
									<th>Địa chỉ</th>
									<th>Email</th>
									<th >Số điện thoại</th>
									<th>Người liên lạc</th>
									<th>Mô tả nhà cung cấp</th>
									<th style="width:170px"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td><input type="text" class="form-control" placeholder="Tên nhà cung cấp"></td>
									<td><input type="File" class="form-control" placeholder="Ảnh"></td>
									<td><input type="text" class="form-control" placeholder="Địa chỉ"></td>
									<td><input type="text" class="form-control" placeholder="Email"></td>
									<td><input type="text" class="form-control" placeholder="Số điện thoại"></td>
									<td><input type="text" class="form-control" placeholder="Người liên lạc"></td>
									<td><input type="text" class="form-control" placeholder="Mô tả"></td>
									<td>
										<button type="button" class="btn btn-warning me-1">Save</button>
										<button type="submit" class="btn btn-primary">Cancel</button>
									</td>
								</tr>
								<tr>
									<td>1</td>
									<td>Kokomi</td>
									<td><Image style="width: 100px" src="\Image\anh-che-mat-ngu-03.jpg"></Image></td>
									<td>Số 50, ngách 8, Hoàng Văn Thái, Hà Nội</td>
									<td>nguyenvana@gmail.com</td>
									<td>0304509678</td>
									<td>Hoàng đz</td>
									<td>Cơ sở cung cấp có 100 loại máy móc hàng đầu thế giới, mong muốn có cơ hội được hợp tác với các công ty Việt Nam</td>
									<td>
										<button type="button" class="btn btn-warning me-1">Edit</button>
										<button type="submit" class="btn btn-primary">Delete</button>
									</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Kokomi</td>
									<td><Image style="width: 100px" src="\Image\anh-che-mat-ngu-03.jpg"></Image></td>
									<td>Số 50, ngách 8, Hoàng Văn Thái, Hà Nội</td>
									<td>nguyenvana@gmail.com</td>
									<td>0304509678</td>
									<td>Hoàng đz</td>
									<td>Cơ sở cung cấp có 100 loại máy móc hàng đầu thế giới, mong muốn có cơ hội được hợp tác với các công ty Việt Nam</td>
									<td>
										<button type="button" class="btn btn-warning me-1">Edit</button>
										<button type="submit" class="btn btn-primary">Delete</button>
									</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Kokomi</td>
									<td><Image style="width: 100px" src="\Image\anh-che-mat-ngu-03.jpg"></Image></td>
									<td>Số 50, ngách 8, Hoàng Văn Thái, Hà Nội</td>
									<td>nguyenvana@gmail.com</td>
									<td>0304509678</td>
									<td>Hoàng đz</td>
									<td>Cơ sở cung cấp có 100 loại máy móc hàng đầu thế giới, mong muốn có cơ hội được hợp tác với các công ty Việt Nam</td>
									<td>
										<button type="button" class="btn btn-warning me-1">Edit</button>
										<button type="submit" class="btn btn-primary">Delete</button>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>