<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://warehouse-admin-dashboard.multipurposethemes.com/main-dark/css/style.css">
    <link rel="stylesheet" href="https://warehouse-admin-dashboard.multipurposethemes.com/main-dark/css/skin_color.css">
    <link rel="icon" href="https://warehouse-admin-dashboard.multipurposethemes.com/images/favicon.ico">
    <link rel="stylesheet" href="https://warehouse-admin-dashboard.multipurposethemes.com/main-dark/css/vendors_css.css">





</head>
<body>



            @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://warehouse-admin-dashboard.multipurposethemes.com/main-dark/js/vendors.min.js"></script>
    <script src="https://warehouse-admin-dashboard.multipurposethemes.com/main-dark/js/pages/chat-popup.js"></script>

    <script src="https://warehouse-admin-dashboard.multipurposethemes.com/assets/icons/feather-icons/feather.min.js"></script>
    <script src="https://warehouse-admin-dashboard.multipurposethemes.com/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>
    <script src="https://warehouse-admin-dashboard.multipurposethemes.com/assets/vendor_components/progressbar.js-master/dist/progressbar.js"></script>
    <script>
        document.getElementById('e').value = new Date().toISOString().substring(0, 10);
    </script>

    <!-- Deposito Admin App -->
    <script src="https://warehouse-admin-dashboard.multipurposethemes.com/main-dark/js/template.js"></script>
    <script src="/js/dashboard.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
