<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://warehouse-admin-dashboard.multipurposethemes.com/main-dark/css/style.css">
    <link rel="stylesheet" href="https://warehouse-admin-dashboard.multipurposethemes.com/main-dark/css/skin_color.css">
    <link rel="icon" href="https://warehouse-admin-dashboard.multipurposethemes.com/images/favicon.ico">
    <link rel="stylesheet" href="https://warehouse-admin-dashboard.multipurposethemes.com/main-dark/css/vendors_css.css">
	@RenderSection("css", false)
	@*<link rel="stylesheet" href="~/css/Style.css" />
	 <link rel="stylesheet" href="~/css/ionicons.css" />
	 <link rel="stylesheet" href="~/css/themify-icons.css" />
	 <link rel="stylesheet" href="~/css/flag-icon.css" />
	<link rel="stylesheet" href="~/css/.css" />*@

</head>
<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">
	<div class="wrapper">
		<div id="loader"></div>

		<header class="main-header">
			<div class="d-flex align-items-center logo-box justify-content-start">
				<!-- Logo -->
				<a href="index.html" class="logo">
					<!-- logo-->
					<div class="logo-mini w-50">
						@* 			  <span class="light-logo"><img src="https://warehouse-admin-dashboard.multipurposethemes.com/images/logo-letter.png" alt="logo"></span>
						<span class="dark-logo"><img src="https://warehouse-admin-dashboard.multipurposethemes.com/images/logo-letter.png" alt="logo"></span> *@
					</div>
					<div class="logo-lg">
						@* <span class="light-logo"><img src="https://warehouse-admin-dashboard.multipurposethemes.com/images/logo-light-text.png" alt="logo"></span> *@
						<span class="dark-logo">LOGO</span>
					</div>
				</a>
			</div>
			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<div class="app-menu">
					<ul class="header-megamenu nav">
						<li class="btn-group nav-item">
							<a href="#" class="waves-effect waves-light nav-link push-btn btn-primary-light" data-toggle="push-menu" role="button">
								<i data-feather="align-left"></i>
							</a>
						</li>
						<li class="btn-group d-lg-inline-flex d-none">
							<div class="app-menu">
								<div class="search-bx mx-5">
									<form>
										<div class="input-group">
											<input type="search" class="form-control" placeholder="Tìm kiếm" aria-label="Search" aria-describedby="button-addon3">
											<div class="input-group-append">
												<button class="btn" type="submit" id="button-addon3"><i data-feather="search"></i></button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<div class="navbar-custom-menu r-side">
					<ul class="nav navbar-nav">
						<li class="btn-group nav-item d-xl-inline-flex d-none">
							<a href="findspace.html" class="waves-effect waves-light nav-link w-p100 full-screen btn-primary-light fs-18 l-h-26">
								Tìm vị trí trống
							</a>
						</li>
						<li class="btn-group nav-item d-xl-inline-flex d-none">
							<a class="nav-link" asp-controller="Supplier" asp-action="Index" class="waves-effect waves-light nav-link w-p100 full-screen btn-primary-light fs-18 l-h-26">
								Nhà cung cấp
							</a>
						</li>
						@* <li class="btn-group nav-item d-xl-inline-flex d-none">
						<a href="help.html" class="waves-effect waves-light nav-link w-p100 full-screen btn-primary-light fs-18 l-h-26">
						Help
						</a>
						</li>
						<li class="btn-group nav-item d-xl-inline-flex d-none">
						<a href="q&a.html" class="waves-effect waves-light nav-link w-p100 full-screen btn-primary-light fs-18 l-h-26">
						Q&A
						</a>
						</li> *@
						<li class="btn-group nav-item d-lg-inline-flex d-none">
							<a href="#" data-provide="fullscreen" class="waves-effect waves-light nav-link full-screen btn-warning-light" title="Full Screen">
								<i data-feather="maximize"></i>
							</a>
						</li>
						<!-- Notifications -->
						<li class="dropdown notifications-menu">
							<a href="#" class="waves-effect waves-light dropdown-toggle btn-info-light" data-bs-toggle="dropdown" title="Notifications">
								<i data-feather="bell"></i>
							</a>
							<ul class="dropdown-menu animated bounceIn">

								<li class="header">
									<div class="p-20">
										<div class="flexbox">
											<div>
												<h4 class="mb-0 mt-0">Notifications</h4>
											</div>
											<div>
												<a href="#" class="text-danger">Clear All</a>
											</div>
										</div>
									</div>
								</li>

								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu sm-scrol">
										<li>
											<a href="#">
												<i class="fa fa-users text-info"></i> Curabitur id eros quis nunc suscipit blandit.
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-warning text-warning"></i> Duis malesuada justo eu sapien elementum, in semper diam posuere.
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-users text-danger"></i> Donec at nisi sit amet tortor commodo porttitor pretium a erat.
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-shopping-cart text-success"></i> In gravida mauris et nisi
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-user text-danger"></i> Praesent eu lacus in libero dictum fermentum.
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-user text-primary"></i> Nunc fringilla lorem
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-user text-success"></i> Nullam euismod dolor ut quam interdum, at scelerisque ipsum imperdiet.
											</a>
										</li>
									</ul>
								</li>
								<li class="footer">
									<a href="#">View all</a>
								</li>
							</ul>
						</li>

						<!-- Control Sidebar Toggle Button -->
						<li class="btn-group nav-item">
							<a href="#" data-toggle="control-sidebar" title="Setting" class="waves-effect full-screen waves-light btn-danger-light">
								<i data-feather="settings"></i>
							</a>
						</li>

						<!-- User Account-->
						<li class="dropdown user user-menu">
							<a href="#" class="waves-effect waves-light dropdown-toggle w-auto l-h-12 bg-transparent py-0 no-shadow" data-bs-toggle="dropdown" title="User">
								<img src="https://warehouse-admin-dashboard.multipurposethemes.com/images/avatar/avatar-1.png" class="avatar rounded-10 bg-primary-light h-40 w-40" alt="" />
							</a>
							<ul class="dropdown-menu animated flipInX">
								<li class="user-body">
									<a class="dropdown-item" href="extra_profile.html"><i class="ti-user text-muted me-2"></i> Profile</a>
									<a class="dropdown-item" href="mailbox.html"><i class="ti-settings text-muted me-2"></i> Email</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="auth_login.html"><i class="ti-lock text-muted me-2"></i> Logout</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<aside class="main-sidebar">
			<!-- sidebar-->
			<section class="sidebar position-relative">
				<div class="multinav">
					<div class="multinav-scroll" style="height: 100%;">
						<!-- sidebar menu-->
						<ul class="sidebar-menu" data-widget="tree">
							<li class="treeview">
								<a href="#">
									<i data-feather="monitor"></i>
									<span>Bảng điều khiển</span>
									<span class="pull-right-container">
										@* <i class="fa fa-angle-right pull-right"></i> *@
									</span>
								</a>
								<ul class="treeview-menu">
									<li><a href="index.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Dashboard 1</a></li>
									<li><a href="index2.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Dashboard 2</a></li>
									<li><a href="index3.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Dashboard 3</a></li>
								</ul>
							</li>
							<li class="treeview">
								<a href="#">
									<i data-feather="star"></i>
									<span>Kiểm tra chất lượng</span>
									<span class="pull-right-container">
										@* <i class="fa fa-angle-right pull-right"></i> *@
									</span>
								</a>
								<ul class="treeview-menu">
									<li><a href="index.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Dashboard 1</a></li>
									<li><a href="index2.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Dashboard 2</a></li>
									<li><a href="index3.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Dashboard 3</a></li>
								</ul>
							</li>
							<li class="">
								<a class="nav-link" asp-controller="ImportKho" asp-action="Index">
									<i data-feather="package"></i>
									<span>Nhập kho</span>
									<span class="pull-right-container">
										@* <i class="fa fa-angle-right pull-right"></i> *@
									</span>
								</a>
								@* <ul class="treeview-menu">
									  <li class="">
										<a >
											<i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Thêm mới
										</a>
										@*  <ul class="treeview-menu">
										 	<li><a href="box_cards.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>User Card</a></li>
										 	<li><a href="box_advanced.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Advanced Card</a></li>
										 	<li><a href="box_basic.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Basic Card</a></li>
										 	<li><a href="box_color.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Card Color</a></li>
										 	<li><a href="box_group.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Card Group</a></li>
										</ul> 
									</li>

							</ul>*@
							</li>
							<li class="">
								<a class="nav-link" asp-controller="ExportKho" asp-action="Index">
									<i data-feather="truck"></i>
									<span>Xuất kho</span>
									<span class="pull-right-container">
										@* <i class="fa fa-angle-right pull-right"></i> *@
									</span>
								</a>
								@*<ul class="treeview-menu">
									<li class="">
										<a>
											<i class="icon-Commit">
												<span class="path1"></span>
												<span class="path2"></span>
											</i>Thêm mới
										</a>
									</li>
								</ul>*@
							</li>
							<li class="treeview">
								<a href="#">
									<i data-feather="pie-chart"></i>
									<span>Biểu đồ</span>
									<span class="pull-right-container">
										@* <i class="fa fa-angle-right pull-right"></i> *@
									</span>
								</a>
								<ul class="treeview-menu">
									<li><a href="charts_chartjs.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>ChartJS</a></li>
									<li><a href="charts_flot.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Flot</a></li>
									<li><a href="charts_inline.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Inline charts</a></li>
									<li><a href="charts_morris.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Morris</a></li>
									<li><a href="charts_peity.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Peity</a></li>
									<li><a href="charts_chartist.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Chartist</a></li>
									<li><a href="charts_c3_axis.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Axis Chart</a></li>
									<li><a href="charts_c3_bar.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bar Chart</a></li>
									<li><a href="charts_c3_data.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Data Chart</a></li>
									<li><a href="charts_c3_line.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Line Chart</a></li>
									<li><a href="charts_echarts_basic.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Basic Charts</a></li>
									<li><a href="charts_echarts_bar.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Bar Chart</a></li>
									<li><a href="charts_echarts_pie_doughnut.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Pie & Doughnut Chart</a></li>
								</ul>
							</li>
							<li class="treeview">
								<a class="nav-link" asp-controller="Order" asp-action="Index">
									<i data-feather="dollar-sign"></i>
									<span>Đơn hàng</span>
									<span class="pull-right-container">
										@* <i class="fa fa-angle-right pull-right"></i> *@
									</span>
								</a>
								<ul class="treeview-menu">
									<li><a href="tables_simple.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Simple tables</a></li>
									<li><a href="tables_data.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Data tables</a></li>
									<li><a href="tables_editable.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Editable Tables</a></li>
									<li><a href="tables_color.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Table Color</a></li>
								</ul>
							</li>
							<li class="a">
								<a class="nav-link" asp-controller="KiemKe" asp-action="Index">
									<i data-feather="grid"></i>
									<span>Kiểm kê</span>
									<span class="pull-right-container">
										@* <i class="fa fa-angle-right pull-right"></i> *@
									</span>
								</a>
							</li>
							<li class="treeview">
								<a href="#">
									<i data-feather="trello"></i>
									<span>Báo cáo</span>
									<span class="pull-right-container">
										@* <i class="fa fa-angle-right pull-right"></i> *@
									</span>
								</a>
								<ul class="treeview-menu">
									<li><a href="auth_login.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Login</a></li>
									<li><a href="auth_register.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Register</a></li>
									<li><a href="auth_lockscreen.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Lockscreen</a></li>
									<li><a href="auth_user_pass.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Recover password</a></li>
								</ul>
							</li>
							<li class="treeview">
								<a href="#">
									<i data-feather="alert-triangle"></i>
									<span>Cảnh báo</span>
									<span class="pull-right-container">
										@* <i class="fa fa-angle-right pull-right"></i> *@
									</span>
								</a>
								<ul class="treeview-menu">
									<li><a href="error_404.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Error 404</a></li>
									<li><a href="error_500.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Error 500</a></li>
									<li><a href="error_maintenance.html"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Maintenance</a></li>
								</ul>
							</li>
							<li class="treeview">
								<a href="#">
									<i data-feather="server"></i>
									<span>Sắp xếp kho</span>
									<span class="pull-right-container">
										@* <i class="fa fa-angle-right pull-right"></i> *@
									</span>
								</a>
							</li>
							<li class="">
								<a class="nav-link" asp-controller="Worker" asp-action="Index">
									<i data-feather="users"></i>
									<span>Công nhân</span>
									<span class="pull-right-container">
										@* <i class="fa fa-angle-right pull-right"></i> *@
									</span>
								</a>
							
							</li>
						</ul>

						<div class="sidebar-widgets" style="position:fixed; bottom: 0">
							<div class="copyright text-center m-25 text-white-50">
								<p><strong class="d-block">WMS © @DateTime.Now.Year </strong> All Rights Reserved</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<div class="container-full">
				<section class="content">
					@RenderBody()
				</section>
			</div>
		</div>

		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<div class="pull-right d-none d-sm-inline-block">
				<ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
					<li class="nav-item">
						<a class="nav-link" href="javascript:void(0)">FAQ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Purchase Now</a>
					</li>
				</ul>
			</div>
			&copy; <script>document.write(new Date().getFullYear())</script> <a href="https://www.multipurposethemes.com/">WMS</a>. All Rights Reserved.
		</footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar">
			<div class="rpanel-title"><span class="pull-right btn btn-circle btn-danger" data-toggle="control-sidebar"><i class="ion ion-close text-white"></i></span> </div>  <!-- Create the tabs -->
			<ul class="nav nav-tabs control-sidebar-tabs">
				<li class="nav-item"><a href="#control-sidebar-home-tab" data-bs-toggle="tab" class="active"><i class="mdi mdi-message-text"></i></a></li>
				<li class="nav-item"><a href="#control-sidebar-settings-tab" data-bs-toggle="tab"><i class="mdi mdi-playlist-check"></i></a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<!-- Home tab content -->
				<div class="tab-pane active" id="control-sidebar-home-tab">
					<div class="flexbox">
						<a href="javascript:void(0)" class="text-grey">
							<i class="ti-more"></i>
						</a>
						<p>Users</p>
						<a href="javascript:void(0)" class="text-end text-grey"><i class="ti-plus"></i></a>
					</div>
					<div class="lookup lookup-sm lookup-right d-none d-lg-block">
						<input type="text" name="s" placeholder="Search" class="w-p100">
					</div>
					<div class="media-list media-list-hover mt-20">
						<div class="media py-10 px-0">
							<a class="avatar avatar-lg status-success" href="#">
								<img src="https://warehouse-admin-dashboard.multipurposethemes.com/images/avatar/1.jpg" alt="...">
							</a>
							<div class="media-body">
								<p class="fs-16">
									<a class="hover-primary" href="#"><strong>Tyler</strong></a>
								</p>
								<p>Praesent tristique diam...</p>
								<span>Just now</span>
							</div>
						</div>

						<div class="media py-10 px-0">
							<a class="avatar avatar-lg status-danger" href="#">
								<img src="https://warehouse-admin-dashboard.multipurposethemes.com/images/avatar/2.jpg" alt="...">
							</a>
							<div class="media-body">
								<p class="fs-16">
									<a class="hover-primary" href="#"><strong>Luke</strong></a>
								</p>
								<p>Cras tempor diam ...</p>
								<span>33 min ago</span>
							</div>
						</div>

						<div class="media py-10 px-0">
							<a class="avatar avatar-lg status-warning" href="#">
								<img src="https://warehouse-admin-dashboard.multipurposethemes.com/images/avatar/3.jpg" alt="...">
							</a>
							<div class="media-body">
								<p class="fs-16">
									<a class="hover-primary" href="#"><strong>Evan</strong></a>
								</p>
								<p>In posuere tortor vel...</p>
								<span>42 min ago</span>
							</div>
						</div>

						<div class="media py-10 px-0">
							<a class="avatar avatar-lg status-primary" href="#">
								<img src="https://warehouse-admin-dashboard.multipurposethemes.com/images/avatar/4.jpg" alt="...">
							</a>
							<div class="media-body">
								<p class="fs-16">
									<a class="hover-primary" href="#"><strong>Evan</strong></a>
								</p>
								<p>In posuere tortor vel...</p>
								<span>42 min ago</span>
							</div>
						</div>

						<div class="media py-10 px-0">
							<a class="avatar avatar-lg status-success" href="#">
								<img src="https://warehouse-admin-dashboard.multipurposethemes.com/images/avatar/1.jpg" alt="...">
							</a>
							<div class="media-body">
								<p class="fs-16">
									<a class="hover-primary" href="#"><strong>Tyler</strong></a>
								</p>
								<p>Praesent tristique diam...</p>
								<span>Just now</span>
							</div>
						</div>

						<div class="media py-10 px-0">
							<a class="avatar avatar-lg status-danger" href="#">
								<img src="https://warehouse-admin-dashboard.multipurposethemes.com/images/avatar/2.jpg" alt="...">
							</a>
							<div class="media-body">
								<p class="fs-16">
									<a class="hover-primary" href="#"><strong>Luke</strong></a>
								</p>
								<p>Cras tempor diam ...</p>
								<span>33 min ago</span>
							</div>
						</div>

						<div class="media py-10 px-0">
							<a class="avatar avatar-lg status-warning" href="#">
								<img src="https://warehouse-admin-dashboard.multipurposethemes.com/images/avatar/3.jpg" alt="...">
							</a>
							<div class="media-body">
								<p class="fs-16">
									<a class="hover-primary" href="#"><strong>Evan</strong></a>
								</p>
								<p>In posuere tortor vel...</p>
								<span>42 min ago</span>
							</div>
						</div>

						<div class="media py-10 px-0">
							<a class="avatar avatar-lg status-primary" href="#">
								<img src="https://warehouse-admin-dashboard.multipurposethemes.com/images/avatar/4.jpg" alt="...">
							</a>
							<div class="media-body">
								<p class="fs-16">
									<a class="hover-primary" href="#"><strong>Evan</strong></a>
								</p>
								<p>In posuere tortor vel...</p>
								<span>42 min ago</span>
							</div>
						</div>

					</div>

				</div>
				<!-- /.tab-pane -->
				<!-- Settings tab content -->
				<div class="tab-pane" id="control-sidebar-settings-tab">
					<div class="flexbox">
						<a href="javascript:void(0)" class="text-grey">
							<i class="ti-more"></i>
						</a>
						<p>Todo List</p>
						<a href="javascript:void(0)" class="text-end text-grey"><i class="ti-plus"></i></a>
					</div>
					<ul class="todo-list mt-20">
						<li class="py-15 px-5 by-1">
							<!-- checkbox -->
							<input type="checkbox" id="basic_checkbox_1" class="filled-in">
							<label for="basic_checkbox_1" class="mb-0 h-15"></label>
							<!-- todo text -->
							<span class="text-line">Nulla vitae purus</span>
							<!-- Emphasis label -->
							<small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
							<!-- General tools such as edit or delete-->
							<div class="tools">
								<i class="fa fa-edit"></i>
								<i class="fa fa-trash-o"></i>
							</div>
						</li>
						<li class="py-15 px-5">
							<!-- checkbox -->
							<input type="checkbox" id="basic_checkbox_2" class="filled-in">
							<label for="basic_checkbox_2" class="mb-0 h-15"></label>
							<span class="text-line">Phasellus interdum</span>
							<small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
							<div class="tools">
								<i class="fa fa-edit"></i>
								<i class="fa fa-trash-o"></i>
							</div>
						</li>
						<li class="py-15 px-5 by-1">
							<!-- checkbox -->
							<input type="checkbox" id="basic_checkbox_3" class="filled-in">
							<label for="basic_checkbox_3" class="mb-0 h-15"></label>
							<span class="text-line">Quisque sodales</span>
							<small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
							<div class="tools">
								<i class="fa fa-edit"></i>
								<i class="fa fa-trash-o"></i>
							</div>
						</li>
						<li class="py-15 px-5">
							<!-- checkbox -->
							<input type="checkbox" id="basic_checkbox_4" class="filled-in">
							<label for="basic_checkbox_4" class="mb-0 h-15"></label>
							<span class="text-line">Proin nec mi porta</span>
							<small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
							<div class="tools">
								<i class="fa fa-edit"></i>
								<i class="fa fa-trash-o"></i>
							</div>
						</li>
						<li class="py-15 px-5 by-1">
							<!-- checkbox -->
							<input type="checkbox" id="basic_checkbox_5" class="filled-in">
							<label for="basic_checkbox_5" class="mb-0 h-15"></label>
							<span class="text-line">Maecenas scelerisque</span>
							<small class="badge bg-primary"><i class="fa fa-clock-o"></i> 1 week</small>
							<div class="tools">
								<i class="fa fa-edit"></i>
								<i class="fa fa-trash-o"></i>
							</div>
						</li>
						<li class="py-15 px-5">
							<!-- checkbox -->
							<input type="checkbox" id="basic_checkbox_6" class="filled-in">
							<label for="basic_checkbox_6" class="mb-0 h-15"></label>
							<span class="text-line">Vivamus nec orci</span>
							<small class="badge bg-info"><i class="fa fa-clock-o"></i> 1 month</small>
							<div class="tools">
								<i class="fa fa-edit"></i>
								<i class="fa fa-trash-o"></i>
							</div>
						</li>
						<li class="py-15 px-5 by-1">
							<!-- checkbox -->
							<input type="checkbox" id="basic_checkbox_7" class="filled-in">
							<label for="basic_checkbox_7" class="mb-0 h-15"></label>
							<!-- todo text -->
							<span class="text-line">Nulla vitae purus</span>
							<!-- Emphasis label -->
							<small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
							<!-- General tools such as edit or delete-->
							<div class="tools">
								<i class="fa fa-edit"></i>
								<i class="fa fa-trash-o"></i>
							</div>
						</li>
						<li class="py-15 px-5">
							<!-- checkbox -->
							<input type="checkbox" id="basic_checkbox_8" class="filled-in">
							<label for="basic_checkbox_8" class="mb-0 h-15"></label>
							<span class="text-line">Phasellus interdum</span>
							<small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 hours</small>
							<div class="tools">
								<i class="fa fa-edit"></i>
								<i class="fa fa-trash-o"></i>
							</div>
						</li>
						<li class="py-15 px-5 by-1">
							<!-- checkbox -->
							<input type="checkbox" id="basic_checkbox_9" class="filled-in">
							<label for="basic_checkbox_9" class="mb-0 h-15"></label>
							<span class="text-line">Quisque sodales</span>
							<small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 day</small>
							<div class="tools">
								<i class="fa fa-edit"></i>
								<i class="fa fa-trash-o"></i>
							</div>
						</li>
						<li class="py-15 px-5">
							<!-- checkbox -->
							<input type="checkbox" id="basic_checkbox_10" class="filled-in">
							<label for="basic_checkbox_10" class="mb-0 h-15"></label>
							<span class="text-line">Proin nec mi porta</span>
							<small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 days</small>
							<div class="tools">
								<i class="fa fa-edit"></i>
								<i class="fa fa-trash-o"></i>
							</div>
						</li>
					</ul>
				</div>
				<!-- /.tab-pane -->
			</div>
		</aside>
		<!-- /.control-sidebar -->
		<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>

	</div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://warehouse-admin-dashboard.multipurposethemes.com/main-dark/js/vendors.min.js"></script>
    <script src="https://warehouse-admin-dashboard.multipurposethemes.com/main-dark/js/pages/chat-popup.js"></script>

    <script src="https://warehouse-admin-dashboard.multipurposethemes.com/assets/icons/feather-icons/feather.min.js"></script>
    <script src="https://warehouse-admin-dashboard.multipurposethemes.com/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>
    <script src="https://warehouse-admin-dashboard.multipurposethemes.com/assets/vendor_components/progressbar.js-master/dist/progressbar.js"></script>
    <script>
        document.getElementById('e').value = new Date().toISOString().substring(0, 10);
    </script>
    <script src="https://warehouse-admin-dashboard.multipurposethemes.com/main-dark/js/template.js"></script>
    <script src="/js/dashboard.js"></script>
    @await RenderSectionAsync("Scripts", required: false)



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Deposito Admin App -->
	
	<script src="/js/feather.min.js"></script>
	<script src="/js/vendors.min.js"></script>
	<script src="/js/chat-popup.js"></script>
	<script>
		function addForm() {
			// Clone the form container
			var formContainer = document.getElementById('formContainer');
			var clonedForm = formContainer.cloneNode(true);

			// Clear input values in the cloned form
			var inputs = clonedForm.getElementsByTagName('input');
			for (var i = 0; i < inputs.length; i++) {
				inputs[i].value = '';
			}

			// Replace "Thêm" button with "Xóa" button in the cloned form
			var deleteButton = document.createElement('button');
			deleteButton.innerHTML = 'Xóa';
			deleteButton.className = 'btn btn-danger';
			deleteButton.onclick = function () {
				formContainer.parentNode.removeChild(clonedForm);
			};

			var clonedForm1 = clonedForm.querySelector('.row')
			clonedForm.appendChild(deleteButton);

			// Insert the cloned form right below the original one
			formContainer.parentNode.insertBefore(clonedForm, formContainer.nextSibling);
		}
	</script>
</body>
</html>
